html {
    background-image: url("/src/components/style/fitness.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#navbar{
    background-color: rgb(8, 233, 233);
    display: flex;
    justify-content: space-around;
    flex: auto;
    width: 100%;
    height: 50px;
    font-size: 30px;
}

#navbar a:hover{
    background-color:white ;
    color: black;
}

#navbar a{
    background-color:rgb(8, 233, 233);
    color: white;
    padding: 5px 10px;
    word-wrap: normal;
    display: inline-block;
    text-decoration: none;
}
<<<<<<< HEAD
#welcome {
display: flex;
justify-content: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:black;
=======

h1 {
    color: white;
}

#home {
display: flex;
justify-content: center;
font-family: Georgia, 'Times New Roman', Times, serif;
color:white;
>>>>>>> b34b5b3ead7539014ce3b6b5a0996f76e8a04d8c
}

#body {
    display: flex;
    justify-content: center;
    font-size: 24px;
    overflow-y: auto;
    color:white;
}
#allRoutines{
    border: 10px solid black;
    padding: 2%;
    color:white; 
}

#allActivities{
    border: 10px solid black;
    padding: 2%;
    color:white
}

#profile{
    text-align: center;
    padding: 50px;
    color:white;
}

#register {
    text-align: center;
    padding: 50px;
    color:white;
    
}

#login {
    padding: 50px;
    color: white;
    text-align: center;
    
}

#activityheader {
    padding: 50px;
    color: white;
    text-align: center;
    
}
